/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Inter:wght@400;600&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/* CSS Variables */
:root {
    /* Colours */
    --colour-bg: #EEEEEE;
    --colour-on-bg: #333333;
    --colour-primary: #EC7950;
    --colour-primary-bg: #DA967B;
    --colour-error: #ED5B5B;
    --colour-heading: #B08212;
    --colour-outline: #CCCCCC; 
    --colour-label: #555555;

    /* Fonts */
    --font-heading: 'Oleo Script Swash Caps', cursive;
    --font-primary: 'IBM Plex Sans', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--colour-bg);
    width: 100vw;
}

div.container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
}

div.sidebar {
    background: url(./img/bg-img.png) no-repeat center center/ cover;
}

div.sidebar div.heading {
    background-color: #eeeeeeaa;
    display: flex;
    margin-top: 30%;
    padding-left: 27%;
}

div.sidebar div.heading img {
    width: 70px;
    padding-top: 8px;
}

div.sidebar div.heading h1 {
    font-family: var(--font-heading);
    color: var(--colour-heading);
    font-size: 48px;
    padding: 32px 32px 32px 16px;
}

div.main {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
}

div.main div.msg {
    font-family: var(--font-primary);
    font-weight: bold;
    color: var(--colour-on-bg);
    font-size: 16px;
    line-height: 24px;
    padding: 64px 32px;
}

div.main div.msg p {
    width: 70%;
}

div.main div.msg p span {
    font-family: var(--font-heading);
    font-size: 20px;
    padding: 0 2px;
}

div.main div.msg p:last-child {
    margin-top: 24px;
}

div.main div.form {
    background-color: rgb(100, 84, 218);
}

div.main div.submit {
    background-color: rgb(240, 165, 52);
}