/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Inter:wght@400;600&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/* CSS Variables */
:root {
    /* Colours */
    --colour-bg: #EEEEEE;
    --colour-on-bg: #333333;
    --colour-primary: #DF684E;
    --colour-primary-bg: #B65129;
    --colour-error: #DB3131;
    --colour-heading: #AD462F;
    --colour-outline: #CCCCCC; 
    --colour-label: #555555;

    /* Fonts */
    --font-heading: 'Oleo Script Swash Caps', cursive;
    --font-primary: 'IBM Plex Sans', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--colour-bg);
    width: 100vw;
    height: 100vh;
    font-family: var(--font-primary);
}

div.container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
}

div.sidebar {
    height: 100vh;
    background: url(./img/bg-img.png) no-repeat center center/ cover;
}

div.sidebar div.heading {
    background-color: #eeeeeeaa;
    display: flex;
    height: 150px;
    margin-top: calc((100vh / 3) - 150px - 15px);
    padding-left: 27%;
    
}

div.sidebar div.heading img {
    width: 80px;
    padding-top: 8px;
}

div.sidebar div.heading h1 {
    font-family: var(--font-heading);
    color: var(--colour-heading);
    font-size: 64px;
    padding: 32px 32px 32px 16px;
}

div.sidebar div.heading h1:hover {
    color: var(--colour-primary);
}

div.main {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
}

div.main div.msg {
    font-family: var(--font-primary);
    font-weight: bold;
    color: var(--colour-on-bg);
    font-size: 16px;
    line-height: 24px;
    padding: 64px 32px;
}

div.main div.msg p {
    width: 70%;
}

div.main div.msg p span {
    font-family: var(--font-heading);
    font-size: 20px;
    padding: 0 2px;
}

div.main div.msg p span:hover {
    color: var(--colour-primary);
}

div.main div.msg p:last-child {
    margin-top: 24px;
}

div.main div.form {
    background-color: #FFFFFF;
}

div.main div.form form {
    display: grid;
    height: 100%;
    grid-template-rows: 40px 1fr;
    grid-template-columns: repeat(2, 1fr) 250px;
    grid-template-areas: 
    "heading heading heading"
    "col1 col2 .";
    font-family: var(--font-secondary);
    font-weight: 600;
    color: var(--colour-label);
}

div.form form h4 {
    grid-area: heading;
    font-family: var(--font-heading);
    color: var(--colour-primary);
    margin: 16px 32px;
    font-size: 20px;
}

div.form form div > div {
    width: 250px;
    margin: 16px 32px;
}

div.form form div > input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid var(--colour-outline);
    margin-bottom: 4px;
}

div.form form div > input:hover {
    background-color: var(--colour-bg);
}

div.form form div > input[type="password"] {
    border: 2px solid var(--colour-error);
}

div.form form div > input:invalid {
    border-color: var(--colour-error);
}

div.form form div.col-1 {
    grid-area: col1;
}

div.form form div.col-2 {
    grid-area: col2;
}

div.form form label {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
}

div.form form div > p.error {
    font-size: 14px;
    color: var(--colour-error);
    margin-bottom: 8px;
    height: 20px;
}

div.main div.submit {
    padding: 64px 0 64px 32px;
}

div.main div.submit > button {
    padding: 16px 32px;
    background-color: var(--colour-primary-bg);
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin-bottom: 32px;
}

div.main div.submit > button:hover {
    background-color: var(--colour-primary);
    cursor: pointer;
}

div.main div.submit > p {
    font-weight: 500;
}

div.main div.submit > p > span {
    color: #ae462e;
    font-weight: bold;
    margin: 0 8px;
    cursor: pointer;
}

div.main div.submit > p > span:hover {
    color: var(--colour-on-bg);
}

footer {
    width: 100%;
    background-color: #111111;
    color: #FFFFFF;
    text-align: center;
}

#github-name {
    font-weight: bold;
    color: #FFFFFF;
}
